/* General Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  background-color: #004d40;
  color: white;
  padding: 20px;
  text-align: center;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-menu li {
  display: inline;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


/* Hero Section */
.hero {
  background-image: url('amboli.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: #f04f32;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #d74228;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background: linear-gradient(to right, #f99e4c, #f04f32);
  color: white;
}

.feature {
  text-align: center;
  max-width: 250px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* About Us Section */
.about {
  padding: 50px;
  text-align: center;
  background-color: #f7f7f7;
}


/* Our Services Section */
.services {
  padding: 50px;
  background-color: #fff;
  text-align: center;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.service {
  display: inline-block;
  width: 30%;
  padding: 10px;
}

.service img {
  width: 180%;
  max-width: 400px;
  border-radius: 10px;
}

.service h3 {
  font-size: 20px;
  margin-top: 10px;
}